body{
    background-image:linear-gradient(45deg, #00ff99, #84ff00);
    height: 100%;
    width: 100%;
}

.calculadora{
text-align: center;
font-family: "Handjet", sans-serif;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
padding: 20px;
z-index: 1;
background-image: linear-gradient(30deg, #70b54aa7, #b7ff53, #489246);
box-shadow: 1px 3px 40px #000000de;
border: 2px solid black;
}


.botao{
font-family: "Handjet", sans-serif;
font-size: 30px;
height: 60px;
width: 60px;
margin: 1px;
z-index: 2;
box-shadow: 0 0 10px #00000074;
border: none;
}
    .botao:hover {
    transform: scale(1.2);
    background-color: chartreuse;
    transition: 0.3s, opacity 0.3s;
    z-index: 2;
    box-shadow: 0 0 15px #0000008f;
    border: none;
    }
        .botao:active {
        transform: scale(1.1);
        background-color: rgb(105, 209, 0);
        box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
        transition: 0.3s, opacity 0.3s;
        z-index: 2;
        border: none;
        }

.botao-c {

border-top-left-radius: 10px;
border: none;
font-family: "Handjet", sans-serif;
font-size: 30px;
height: 60px;
width: 60px;
margin: 1px;
z-index: 2;
box-shadow: 0 0 10px #00000074;

}
    .botao-c:hover {
    transform: scale(1.2);
    background-color: chartreuse;
    transition: 0.3s, opacity 0.3s;
    z-index: 2;
    box-shadow: 0 0 15px #0000008f;
    border: none;
    }
        .botao-c:active {
        transform: scale(1.1);
        background-color: rgb(105, 209, 0);
        box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
        transition: 0.3s, opacity 0.3s;
        z-index: 2;
        border: none;    
        }


.botao-x {

border-top-right-radius: 10px;
border: none;
font-family: "Handjet", sans-serif;
font-size: 30px;
height: 60px;
width: 60px;
margin: 1px;
z-index: 2;
box-shadow: 0 0 10px #00000074;
}
    .botao-x:hover {
    transform: scale(1.2);
    background-color: chartreuse;
    transition: 0.3s, opacity 0.3s;
    z-index: 2;
    box-shadow: 0 0 15px #0000008f;
    border: none;
    }
        .botao-x:active {
        transform: scale(1.1);
        background-color: rgb(105, 209, 0);
        box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
        transition: 0.3s, opacity 0.3s;
        z-index: 2;
        border: none;    
        }
        

.botao-igual {
z-index: 2;
height: 125px;
width: 60px;
margin: 1px;
box-shadow: 0 0 10px #00000074;
font-family: "Handjet", sans-serif;
font-size: 30px;
border-bottom-right-radius: 10px;
border: none;
}
    .botao-igual:hover {
    transform: scale(1.2);
    background-color: rgb(88, 177, 0);
    transition: 0.3s, opacity 0.3s;
    z-index: 2;
    box-shadow: 0 0 15px #0000008f;
    border: none;
    }
        .botao-igual:active {
        transform: scale(1.1);
        background-color: rgb(105, 209, 0);
        box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
        transition: 0.3s, opacity 0.3s;
        z-index: 2;
        border: none;    
        }


.botao-zero {
font-family: "Handjet", sans-serif;
font-size: 30px;
z-index: 2;
margin: 1px;
height: 60px;
width: 125px;
box-shadow: 0 0 10px #00000074;
border-bottom-left-radius: 10px;
border: none;
}
    .botao-zero:hover {
    transform: scale(1.2);
    background-color: rgb(195, 255, 0);
    transition: 0.3s, opacity 0.3s;
    z-index: 2;
    box-shadow: 0 0 15px #0000008f;
    border: none;
    }
        .botao-zero:active {
        transform: scale(1.1);
        background-color: rgb(105, 209, 0);
        box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
        transition: 0.3s, opacity 0.3s;
        z-index: 2;
        border: none;    
        }


#display{

height: 30px;
width: 255px;
background-image: linear-gradient(45deg, #636363, #8a8a8a, #1c1c1c);
box-shadow: inset 1px 1px 5px #040404, inset -1px -1px 5px rgb(170, 234, 167);
border: 1px solid #040404;
font-family: "Handjet", sans-serif;
font-size: 35px;
text-align: right;
color: #84ff00;
padding: 5px;
margin-bottom: 25px;
}
